.proba{
    background-color: rgba(0, 0, 0, 0.3);
}
.custom-image {
    width: 300px; /* Ancho personalizado */
    height: 450px; /* Alto personalizado */
  }
  .button-container {
    margin-top: 20px;
  }
  
  .button-container button {
    margin-right: 20px; 
  }