<h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
  La aplicación nos permitirá mostrar información de un título:
  - Poster
  - Título, título original
  - Fecha de lanzamiento
  - Overview
</h2>

    <div *ngIf="peliculaDetalles" [ngStyle]="{
      'background-size':'cover',
      'background-image':'url(https://image.tmdb.org/t/p/w500'+ peliculaDetalles.poster_path +')'}">
      <div class="proba my-2">
        <img class="custom-image" [src]="'https://image.tmdb.org/t/p/w500' + peliculaDetalles.poster_path" alt="Póster de la película">
        <h1>{{ peliculaDetalles.title }}</h1>
        <p>DESCRIPCION : {{peliculaDetalles.overview}}</p>
        <p>FECHA DE ESTRENO : {{peliculaDetalles.release_date}}</p>
        <p>POPULARIDAD: {{peliculaDetalles.popularity}}</p>
        <p>NUMERO DE VOTOS : {{peliculaDetalles.vote_count}}</p>
      </div>
    </div>
    
  <button class="btn btn-secondary" routerLink="/buscar/:">REGRESAR</button>

