<h1 style="text-align: center;" class="mt-10">ESTRENOS</h1>
<button class="btn btn-secondary" routerLink="/home">REGRESAR</button>
<div class="container">
    <h1 class="my-4">Películas Populares</h1>
    <div class="row">
      <div class="col-md-4" *ngFor="let pelicula of movie">
        <div class="card mb-4">
          <img class="card-img-top" [src]="'https://image.tmdb.org/t/p/w500' + pelicula.poster_path" alt="Póster de la película">
          <div class="card-body">
            <h5 class="card-title">{{ pelicula.title }}</h5>
            <p class="card-text">{{ pelicula.overview }}</p>
            <p class="card-text">Fecha de lanzamiento: {{ pelicula.release_date }}</p>
            <p class="card-text">Popularidad: {{ pelicula.popularity }}</p>
            <p class="card-text">Número de votos: {{ pelicula.vote_count }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
  

