<h1 style="text-align: center;" class="mt-10">Estrenos</h1>
<button class="btn btn-secondary" routerLink="/home">REGRESAR</button>
<div class="mt-7 col-12 rounded-bg" *ngFor="let movie of movie" [ngStyle]="{
    'background-size':'100%',
    'background-image':'url(https://image.tmdb.org/t/p/w500'+ movie.backdrop_path+')'}"><!--Url para ver las portadas https://image.tmdb.org/t/p/w500 ---- interfaces/peliculas.interface.ts = Movie(all data)--> 

        <div class="proba col-10 col-md-10">
            <h3 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">{{movie.title}} </h3>
            <h5>{{movie.original_title}} </h5>
            <p style="font-size: 140%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">DESCRIPCION : {{movie.overview}}</p>
            <p style="font-size: 140%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">FECHA DE ESTRENO : {{movie.release_date}}</p>
            <p style="font-size: 140%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">POPULARIDAD: {{movie.popularity}}</p>
            <p style="font-size: 140%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">NUMERO DE VOTOS : {{movie.vote_count}} </p>
            </div>  
        </div>

