.swiper {
    width: 90%;
    height: 520px;
  }

  .swiper-button-prev,.swiper-button-next{
    color: darkblue;
  }

  .movie-description{
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    padding: 5px 3px;
    position: absolute;
    width: 100%;
  }
  .rounded-bg {
    border-radius: 35px; 
  }
  .search-button{
    margin: 20px;
  }