<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!--<h1 style="text-align: center;">
  Bienvenido a mi {{title}} 
  Mi nombre es {{name}}.
</h1> * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<app-navbar></app-navbar>
<div class="container mt-3">
  <router-outlet></router-outlet>
</div>

