<div class="search-container">
  <h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Buscar y mostrar títulos con los siguientes criterios -> Título</h2>
  <input type="text" placeholder="Buscar por título" [(ngModel)]="searchQuery">
  <button class="btn btn-primary my-2 my-sm-0" (click)="buscarTitulos()">BUSCAR PELICULA</button>
  <button class="btn btn-secondary" routerLink="/home">REGRESAR</button>

  <div class="container">
      <div class="search-results">
        <ul>
          <h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            La aplicación nos permitirá mostrar información de un título:
            - Poster
            - Título, título original
            - Fecha de lanzamiento
            - Overview
          </h2>

          <li *ngFor="let pelicula of results" [ngStyle]="{
            'background-size':'cover',
            'background-image':'url(https://image.tmdb.org/t/p/w500'+ pelicula.poster_path +')'}">
            
            <div class="proba pelicula-card">
              
              <h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">{{ pelicula.title }}</h1>
              <p style="font-size: 140%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">TITULO ORIGINAL : {{ pelicula.original_title }}</p>
              <p style="font-size: 130%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">FECHA DE LANZAMIENTO :  {{ pelicula.release_date }}</p>
              <p style="font-size: 140%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">OVERVIEW :  {{ pelicula.overview }}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
</div>