<div class="search-container">
  <h2 class="search-title">Buscar y mostrar títulos con los siguientes criterios -> Título</h2>
  <input class="search-input" type="text" placeholder="Buscar por título" [(ngModel)]="searchQuery">
  <button class="btn btn-primary my-2 my-sm-0 search-button" (click)="buscarTitulos()">BUSCAR PELÍCULA</button>
  <button class="btn btn-secondary search-button" routerLink="/home">REGRESAR</button>

  <div class="container results-container">
    <h2 class="results-title">RESULTADOS DE LA BÚSQUEDA</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let pelicula of results">
        <div class="card result-card">
          <img class="result-image" [src]="'https://image.tmdb.org/t/p/w500' + pelicula.poster_path" alt="Póster de la película">
          <div class="card-body result-content">
            <h5 class="card-title" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">{{ pelicula.title }}</h5>
            <p class="card-text">TÍTULO ORIGINAL: {{ pelicula.original_title }}</p>
            <p class="card-text">FECHA DE LANZAMIENTO: {{ pelicula.release_date }}</p>
            <p class="card-text">OVERVIEW: {{ pelicula.overview }}</p>
          </div>
        </div>
        <ul>
          <button class="btn btn-info btn-sm" (click)="mostrarDetalles(pelicula.id)">INFORMACIÓN</button>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
