/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(99, 109, 125);
    background-image: url('image/fondo2.jpg');
    background-size:100%;
}
h1,h2,h3,h4,h5{
    font-weight: 200;
    color: aliceblue;
}
p{
    color: white;
}
br{
    color: white;
}
.cursor{
    cursor: pointer;
}